.bold{
	font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 1.2em;
  line-height: 1.3em;
}


.faq
{
  font-size: 50px;
  color: black;
  justify-content: center;
  @extend .bold;
}

.faq-sub
{
  font-size: 28px;
  color: black;
  justify-content: left;
  @extend .bold;
  padding-left: 1rem;
}

.faq-sub-sub
{
  font-size: 20px;
  color: black;
  justify-content: left;
  padding-left: 2.8rem;
  @extend .bold;
}

.faq-sub-sub-sub
{
  font-size: 15px !important;
  color: black;
  justify-content: left;
  padding-left: 3.8rem;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 1.3em;
  margin-bottom: 10px;
}

.faq-bot{
  margin-bottom: 75px;
}