.bold{
   font-family: 'Open Sans', Helvetica, sans-serif;
   font-weight: 400;
   font-size: 1.2em;
   line-height: 1.3em;
}

.lend
{
  font-size: 50px;
  color: black;
  justify-content: center;
  @extend .bold;
}