$login-container-primary: #4594BF;
$login-container-secondary: #FFFFFF;
$login-input-width: 423px;
$login-input-height: 56px;
$login-input-border: 1px solid $login-container-secondary;
$login-input-border-radius: 4px;

@mixin login-input-margin($margin-top) {
  margin-top: $margin-top;
}


#login {

    .login-container{
		width: 656px;
		height: 600px;
		background-color: $login-container-primary;
		margin: auto;

		input {
			font-size: 24px;
			line-height: $login-input-height !important;
			height: $login-input-height !important;
			margin: auto;
		}

		input, button {
			color: $login-container-primary;
			width: $login-input-width;
			border: $login-input-border;
			border-radius: $login-input-border-radius;
			background-color: $login-container-secondary;
		}

		.login-name{
			font-size: 48px;
			text-align: center;
			color: white;
			padding-top: 40px;
		}

		.login-username{
			@include login-input-margin(64px);
			text-align: center;
		}

		.login-password{
			@include login-input-margin(29px);
			text-align: center;
		}

		.login-button{
			@include login-input-margin(49px);
			text-align: center;
			button {
				height: 75px;
				font-size: 34px;
			}	
		}

		.new-user{
			text-align: center;
			margin-top: 40px;
			h5 {
   				width:423px; 
   				text-align:center; 
   				border-bottom: 1px solid #000; 
   				line-height:0.1em; 
   				
   				margin-left: auto;
    			margin-right: auto;
   			} 
   			h5 span { 
   				background:#4594BF; 
   				padding:0 10px; 
   			}
		}
	}
}

.register-button{
	text-align: center;
	margin-top: 0px !important;
	height: 15px;
	.new-user-button{
		font-size: 22px !important;
		width: 100%;
		height: 45px;
		margin-top:30px;
	}
}
.conditions{
	height: 5px;
}

.go-back{
	@extend .register-button;
	cursor: pointer;
}

.register-container{
	width: 656px;
	height: 700px;
	background-color: $login-container-primary;
	padding: 20px 45px 20px 45px;

	.header{
		font-size: 30px;
		color: white;
		height: 2px;
	}

	.register-data{
		height: 15px;
	}
	input {
		font-size: 24px;
		line-height: $login-input-height !important;
		height: 45px !important;
		margin-bottom:20px;
	}

	input, button {
		color: $login-container-primary;
		border: $login-input-border;
		border-radius: $login-input-border-radius;
		background-color: $login-container-secondary;
	}
	.label-name{
		font-size: 24px;
		color: white;
		margin-bottom: 10px;
	}

}