$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$main-body-color: #4286f4;
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "foundation-apps/scss/foundation.scss";
@import "foundation-sites/scss/foundation.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

html, body {
  height: 100%;
}

.bodyContainer{
  height: 100%;
  width: auto;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {

}

.main-content-container {
    //overflow-y: auto !important;
    flex: 2 0 auto;

    .primary-view {
        width: 100%;
        &.slideInLeft, &.slideOutLeft, &.slideInRight, &.slideOutRight {
            &.ng-enter, &.ng-leave {
                transition: all 0.25s linear;
            }
        }
    }
}

.main-container{
  background-color: $main-body-container;
  height: 1000px;
  width: 100%;
}

input[type="text"]
{
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 100%;
    height: 2.4rem;
    padding: 15px 15px;
    border: #ccc;
    border-radius: 0;
    background: #fff;
    margin: 0;
    color: #555555;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
    border: 1px solid lightblue;

    &:focus{
      border: 1px solid lightblue;
    }
    &:hover{
      border: 1px solid lightblue;
    }
}
