.bold{
	font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  	font-style: bold;
}


.title
{
  font-size: 50px;
  color: black;
  justify-content: center;
  @extend .bold;
}

.sub-title
{
  font-size: 28px;
  color: black;
  justify-content: left;
  @extend .bold;
  padding-left: 0.5rem;
  padding-bottom: 10px;
}

.sub-sub-title
{
  font-size: 20px;
  color: blacks;
  justify-content: left;
  padding-left: 1.8rem;
  padding-bottom: 10px;
}