<div>
	<div class="grid-block small-12 title1">
		<span>About Us</span>
	</div>
	<div class="grid-block small-12">
		<div class="small-6 grid-block vertical align-center">
			<div class="sub-title1 grid-block">
				Company Mission
			</div>
			<div class="small-offset-0.5 sub-sub-title1 grid-block">
				We want to change the way people borrow things. We want to make the experience faster, cheaper and way more enthusiastic than before by creating new technologies and excellent customer service.
			</div>
		</div>
		<div class="small-6 grid-block vertical align-center">
			<div class="sub-title1 grid-block">
				Company Values
			</div>
			<div class="small-offset-0.5 sub-sub-title9 grid-block vertical">
				<span>Customer Satisfaction: Provide unparalleled customer service.</span>
				<span>Sharing: Creating a platform where people can easily share things globally at a click of a button.</span>
				<span>Daring: To go above and beyond to explore new avenues to make the world a better place.</span>
			</div>
		</div>
	</div>
	<founder-Info information="information"></founder-Info>

</div>
