<div>
	<div class="grid-block small-12 title1">
		<span>About Us</span>
	</div>
	<div class="grid-block small-12">
		<div class="small-6 grid-block vertical align-center">
			<div class="sub-title1 grid-block">
				Company Mission
			</div>
			<div class="small-offset-0.5 sub-sub-title1 grid-block">
				We want to change the way people borrow things. We want to make the experience faster, cheaper and way more enthusiastic than before by creating new technologies and excellent customer service.
			</div>
		</div>
		<div class="small-6 grid-block vertical align-center">
			<div class="sub-title1 grid-block">
				Company Values
			</div>
			<div class="small-offset-0.5 sub-sub-title9 grid-block vertical">
				<span>Customer Satisfaction: Provide unparalleled customer service.</span>
				<span>Sharing: Creating a platform where people can easily share things globally at a click of a button.</span>
				<span>Daring: To go above and beyond to explore new avenues to make the world a better place.</span>
			</div>
		</div>
	</div>
	<div class="grid-block small-12 align-center sub-title9">
		Meet the Team
	</div>
	<div class="grid-block small-12 meet-team">
		<div class="grid-block small-4 align-center vertical">
			<div class="grid-block align-center image-height" >
				<img src="/images/harshil.png.jpg" class="image"/>
			</div>
			<div >
				<span class="sub-title1 grid-block align-center">Harshil Narsana</span>
				<span class="sub-title1 grid-block align-center">Co-Founder and CEO</span> 
				<span class="sub-sub-title1 grid-block align-center">He is an avid reader and a quick learner. He is not afraid to try new things. A very big soccer fan who supports Chelsea FC.</span>
			</div>
		</div>
		<div class="grid-block small-4 vertical align-center">
			<div class="grid-block align-center image-height">
				<img src="/images/anand.png.jpg" class="image"/>
			</div>
			<div>
				<span class="sub-title1 grid-block align-center">Anand Patel</span> 
				<span class="sub-title1 grid-block align-center">Co-Founder and CTO</span> 
				<span class="sub-sub-title1 grid-block align-center">He is the brains behind the company's awesome technology. He is a very big soccer and bollywood fan. Loves Manchester United.</span>
			</div>
		</div>
		<div class="grid-block small-4 vertical align-center">
			<div class="grid-block align-center">
				<img src="/images/nikhil.png.jpg" class="image"/>
			</div>
			<div>
				<span class="sub-title1 grid-block align-center">Nikhil Puri</span> 
				<span class="sub-title1 grid-block align-center">Business Development</span> 
				<span class="sub-sub-title1 grid-block align-center">He is the brains behind the way the website works. The craziest soccer fan amongst us and loves Manchester United.</span>
			</div>
		</div>
	</div>
</div>
