<div class="grid-block vertical">
<div class="title grid-block">
	ABOUT US
</div>
<div class="sub-title grid-block">
	<p class="sub-title grid-block">Company Mission:</p>
</div>
<div class="sub-sub-title grid-block">
	<p class="sub-sub-title grid-block"> Our mission is to change the landscape of the way people own things. Our goal is to try to make the process of owning things cheaper and quicker than it actually is. </p>
</div>
<div class="sub-title grid-block">
	<p class="sub-title grid-block"> What We Do:</p>
</div>
<div class="sub-sub-title grid-block">
	<p class="sub-sub-title grid-block"> We provide a platform where lenders can meet, communicate and do business with renters! We provide a means for extra income for the lenders and also help save renters a lot of money by providing cheaper rates than HomeDepot and Staples!! We also make it a fun and enthusiastic experience to own new things!!! </p>
</div>
<div class="sub-title grid-block">
	<p class="sub-title grid-block"> Meet the team:</p>
</div>
<div class="sub-sub-title grid-block">
	<img src="/images/harshil.png.jpg" class="image grid-block"/>
	<p class="sub-sub-title grid-block">Harshil Narsana: Co-Founder and CEO: He is the guy who came up with a revolutionary way for owning new things. He is into a lot of books and is not afraid to learn and try new things. </p>
</div>
<div class="sub-sub-title grid-block">
	<img src="/images/anand.png.jpg" class="image grid-block"/>
	<p class="sub-sub-title grid-block"> Anand Patel: Co-Founder and CTO: He is the brains behind the whole website that you are looking at. Very skillful developer and a fun guy to hang around with. </p>
</div>
<div class="sub-sub-title grid-block">
	<img src="/images/nikhil.png.jpg" class="image grid-block"/>
	<p class="sub-sub-title grid-block"> Nikhil Puri: Business Consultant: He is helping the team to come with good business strategies to implement. Very social and good with people..typical of what you expect of a business consultant. </p>
</div>
</div>
