<ng-form class="address-form " name="add-address">
  <div class="fieldset grid-block vertical large-12">
    <div class="modal-title grid-block large-12">
      <span>NEW ADDRESS</span>
    </div>
    <div class="required grid-block large-12">
      <span>*required</span>
    </div>
    <div class="field long grid-block vertical large-12">
      <label for="name">Name or Business Name *</label>
      <input type="text" id="name" ng-model="model.name" />
    </div>
     <div class="field long grid-block vertical large-12">
      <label for="address">Street Address *</label>
      <input type="text" id="address" ng-model="model.address" />
    </div>
    <div class="field long grid-block vertical large-12">
      <label for="address2">Address Line 2</label>
      <input type="text" id="address2" ng-model="model.address2" />
    </div>
    <div class="field medium grid-block vertical large-12">
      <label for="city">Country *</label>
      <input type="text" id="country" ng-model="model.country" />
    </div>
    <div class="field medium grid-block vertical large-12">
      <label for="city">City *</label>
      <input type="text" id="city" ng-model="model.city" />
    </div>
    <div class="field grid-block large-12">
      <div class="columns grid-block vertical large-6">
        <label for="state">State *</label>
        <input type="text" id="state" ng-model="model.state" />        
      </div>
      <div class="columns grid-block vertical large-6">
        <label for="zip">Zip/Postal Code *</label>
        <input type="text" id="zip" ng-model="model.zip" />     
      </div>
    </div>
    <div class="field grid-block vertical large-12">
      <label for="city">Phone Number *</label>
      <input type="text" id="phoneNum" ng-model="model.phoneNum" />
    </div>
     <div class="dataActions grid-block">
      <button class="button small-12" ng-click="">Add This Address</button>
    </div>
    <div class="dataActions grid-block">
      <button class="button small-12 cancel-button" ng-click="vm.closeModal()">Cancel</button>
    </div>
  </div>

  <button ng-click="vm.closeModal()" class="close-button" aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</ng-form>