<div class="grid-block vertical">
<div class="title2 grid-block">
	FAQS
</div>
<div class="sub-title2 grid-block">
	<p class="sub-title2 grid-block">How does it work?</p>
</div>
<div class="sub-sub-title2 grid-block">
	<p class="sub-sub-title2 grid-block">Renters:</p>
</div>
<div class="sub-sub-sub-title2 grid-block">
	<p class="sub-sub-sub-title2 grid-block">1. Browse the website for the item you want to rent.</p>
</div>
<div class="sub-sub-sub-title2 grid-block">
	<p class="sub-sub-sub-title2 grid-block">2. Click on the item you like and see all the details for it.</p>
</div>
<div class="sub-sub-sub-title2 grid-block">
	<p class="sub-sub-sub-title2 grid-block">3. Click on instant rent if you really love the item. You can always choose to negotiate the price with the lender if it is too expensive.</p>
</div>
<div class="sub-sub-sub-title2 grid-block">
	<p class="sub-sub-sub-title2 grid-block">4. Once the price has been decided, you can pay for the item and choose to either pick it up or get it delivered.</p>
</div>
<div class="sub-sub-sub-title2 grid-block">
	<p class="sub-sub-sub-title2 grid-block">5. Once you get the item, make sure to not break it! You are renting it. Return the product to lender after you are done using it.</p>
</div>
<div class="sub-sub-sub-title2 grid-block">
	<p class="sub-sub-sub-title2 grid-block">6. Enjoy a nice lunch or dinner with the money and time you save!You deserve it.</p>
</div>
<div class="sub-sub-title2 grid-block">
	<p class="sub-sub-title2 grid-block">Lenders:</p>
</div>
<div class="sub-sub-sub-title2 grid-block">
	<p class="sub-sub-sub-title2 grid-block">1. Put your awesome product up for renting using the LEND button. Remember to put a resonable price on your product. Choose an option to add insurance to your product!!! (costs you only 5% of the total cost of the product)</p>
</div>
<div class="sub-sub-sub-title2 grid-block">
	<p class="sub-sub-sub-title2 grid-block">2. Wait for someone to rent your product.</p>
</div>
<div class="sub-sub-sub-title2 grid-block">
	<p class="sub-sub-sub-title2 grid-block">3. Negotiate the terms or the price of the product with the renter if you want to.</p>
</div>
<div class="sub-sub-sub-title2 grid-block">
	<p class="sub-sub-sub-title2 grid-block">4. Send the product out for renting. EARN money$$$$. We will take a 5% cut for the total cost of the rental.</p>
</div>
<div class="sub-sub-sub-title2 grid-block">
	<p class="sub-sub-sub-title2 grid-block">5. Get the product back from the renter. Check if the product is returned in good condition. Raise an insurance claim if the product is damaged (if you added insurance to the product) and we will reimburse you the whole cost of the product.</p>
</div>
<div class="sub-sub-sub-title2 grid-block">
	<p class="sub-sub-sub-title2 grid-block">6. Enjoy a nice vacation with your loved ones with the extra money you made!You deserve a good rest.</p>
</div>
</div>