<div class="grid-block vertical faq-bot">
	<div class="grid-block vertical">
		<div class="grid-block small-12 faq">
			<span class="faq">FAQs</span>
		</div>
		<div class="grid-block small-12 faq-sub">
			<span class="faq-sub">Lenders</span>
		</div>
		<div class="grid-block small-12 faq-sub-sub">
			<span class="faq-sub-sub">How much money can I make?</span>
		</div>
		<div class="grid-block small-12 faq-sub-sub-sub">
			<span class="faq-sub-sub-sub">There is no cap on how much money you can make. Remember we charge 5% of the total rental cost as a commission though.</span>
		</div>
		<div class="grid-block small-12 faq-sub-sub">
			<span class="faq-sub-sub">Is it safe to rent my items?</span>
		</div>
		<div class="grid-block small-12 faq-sub-sub-sub">
			<span class="faq-sub-sub-sub">It is absolutely safe to rent your items as each member on the website has to pass the two stage verification process. If you are still not sure, you can always purchase insurance!</span>
		</div>
		<div class="grid-block small-12 faq-sub-sub">
			<span class="faq-sub-sub">How do I put my product to rent?</span>
		</div>
		<div class="grid-block small-12 faq-sub-sub-sub">
			<span class="faq-sub-sub-sub">Just click on the Lend button and it will open up a form for you to fill. Enter all the details required and hit submit button. That will put your item out for rent. Yes...its that simple!</span>
		</div>
		<div class="grid-block small-12 faq-sub">
			<span class="faq-sub">Renters</span>
		</div>
		<div class="grid-block small-12 faq-sub-sub">
			<span class="faq-sub-sub">How do I rent items?</span>
		</div>
		<div class="grid-block small-12 faq-sub-sub-sub">
			<span class="faq-sub-sub-sub">You just have to search for the item you want in the search bar, along with the location and hit search. Select the best suited item for you from the list and then rent it! You will have to pay for the item though...but we ensure it will be a lot cheaper than renting it from any other places!</span>
		</div>
		<div class="grid-block small-12 faq-sub-sub">
			<span class="faq-sub-sub">What is the difference between Instant Rent and Message buttons?</span>
		</div>
		<div class="grid-block small-12 faq-sub-sub-sub">
			<span class="faq-sub-sub-sub">Instant rent will help you to instantly rent an item. No approval needed from the lender. Message lender will help you to talk to the lender to hash out some questions before renting the item. Please be aware that the system will ask for your credit card information in both cases when you checkout. Your credit card will be charged instantly when you choose instant rent but will not charge you until the lender approves when you choose message option.</span>
		</div>
		<div class="grid-block small-12 faq-sub-sub">
			<span class="faq-sub-sub">What is the Negotiate button?</span>
		</div>
		<div class="grid-block small-12 faq-sub-sub-sub">
			<span class="faq-sub-sub-sub">Negotiate is a cool feature that will allow you to haggle the price of the item with the lender. Be aware when using this feature, you don't want to make the lender angry by suggesting very low prices. To help you with that, we will recommend you an ideal price that you can negotiate!</span>
		</div>
	</div>
</div>