 <div class="navbar navbar-default" role="navigation">
    <div class="navbar-footer">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <ul class="nav navbar-nav">
        <li><a ng-href="#!/aboutus" class="test">About Us</a></li>
        <li><a ng-href="#!/contactus" class="test">Contact Us</a></li>
        <li><a ng-href="#!/faq" class="test">FAQ</a></li>
        <li><a ng-href="#!/terms" class="test">Terms</a></li>
        <li><a ng-href="#!/privacy" class="test">Privacy</a></li>
      </ul>
    </div>
</div>