<div ng-controller= "manageCtrl">
	<div class="title3">
		Manage My Account
	</div>
	<div class="align-left small-6 vertical">
	<ul class="block-list">
<!-- With a label -->
		<li class="with-chevron" ng-repeat="item in items">
			<button ng-click="updateChoice(item)">{{item.name}}</button>
		</li>
	</ul>
	</div>
	<div ng-switch="selection">
		<div ng-switch-when="Profile">Profile</div>
		<div ng-switch-when="Payment">Payment</div>
		<div ng-switch-when="Deal">Deals</div>
		<div ng-switch-when="Message">Messages</div>
		<div ng-switch-when="Listing">Listings</div>
	</div>
</div>