<div class="grid-block large-12 wrap align-center">
    <div class="grid-block vertical large-4 register-container">
        <div class="grid-block header align-center">
            Create account
        </div>
        <div class="grid-block vertical register-data">
            <span class="label-name">Your name</span>
            <div class="grid-block">
                <input required ng-model="credentials.username" type="text">
            </div>
        </div>
        <div class="grid-block vertical register-data">
            <span class="label-name">Email</span>
            <input required ng-model="credentials.email" type="text">
        </div>
        <div class="grid-block vertical register-data">
            <span class="label-name">Password</span>
            <input required ng-model="credentials.password" type="password">
        </div>
        <div class="grid-block vertical register-data">
            <span class="label-name">Re-enter password</span>
            <input required ng-model="credentials.rePassword" type="password">
        </div>
        <div class="grid-block register-button">
            <button class="new-user-button">Create your Rentify Account</button>
        </div>
        <div class="grid-block conditions">
            By creating an account, you agree to Rentify's Conditions of Use and Privacy Notice.
        </div>
        <div class="go-back" ng-click="pageSwitch(user_switch)">
            <span>Have Account? Sign in</span>
        </div>
    </div>
</div>