<div class="grid-block vertical">
<div class="title2 grid-block"> Terms of Use</div>
<div class="sub-title2 grid-block"> Insurance</div>
<div class="sub-sub-title2 grid-block"> The lender has an option to purchase insurance on their product by paying 5% of the total price of the product. Only if the lender purchases insurance, will the price of the product be reimbursed if the lender files an insurance claim. Insurance claim can only be legally bound if the lender provides sufficient proof of the damage to the product.</div>
<div class="sub-title2 grid-block"> Rental</div>
<div class="sub-sub-title2 grid-block"> Rentify is not responsible for the communication and the final price discussed between the transacting parties and in no way promotes the transaction of illegal items via the website</div><br/><br/>
<div class="sub-sub-sub-title2 grid-block">* In case of any more questions please go to the Contact Us page or FAQ page</div>
</div>