<div class="main-page">
	<div class="grid-block small-12 align-center">
		<h2><span class="main-title">How It Works</span></h2>
	</div>
	<div class="grid-block small-12 works">
		<div class="grid-block small-6 work-title align-center">
			Lenders
		</div>
		<div class="grid-block small-6 work-title align-center">
			Renters
		</div>
	</div>

	<div class="grid-block small-12">
		<div class="grid-block small-3 stepOne-text vertical">
			<div class="grid-block align-center">
				<span>Step 1</span>
			</div>
			<div class="grid-block align-center context-info">
				<span>Search your house to find extra stuff to rent</span>
			</div>
			<div class="grid-block align-center">
				<span>Step 2</span>
			</div>
			<div class="grid-block align-center context-info">
				<span>Go to Rentify website, login and click on Lend. Fill in the form and put your product for rent. Purchase insurance if you want to...No Pressure</span>
			</div>
		</div>
		<div class="grid-block small-3 stepTwo-text vertical">
			<div class="grid-block align-center">
				<span>Step 4</span>
			</div>
			<div class="grid-block align-center context-info">
				<span>Rent more products and make a but-load of money and enjoy nice vacations with the extra money you made</span>
			</div>
			<div class="grid-block align-center">
				<span>Step 3 </span>
			</div>
			<div class="grid-block align-center context-info">
				<span>wait for your product to be rented. This is the most relaxed part</span>
			</div>
		</div>
		<div class="grid-block small-3 renter-stepone vertical">
			<div class="grid-block align-center">
				<span>Step 1</span>
			</div>
			<div class="grid-block align-center context-info">
				<span>Go to Rentify website cause you are bored of traditional renting services</span>
			</div>
			<div class="grid-block align-center">
				<span>Step 2</span>
			</div>
			<div class="grid-block align-center context-info">
				<span>Search for the product you want to rent and pick one from the list</span>
			</div>
		</div>
		<div class="grid-block small-3 stepTwo-text vertical">
			<div class="grid-block align-center">
				<span>Step 3</span>
			</div>
			<div class="grid-block align-center context-info">
				<span>Login, talk to the lender about things or instant rent the product. You will have to enter credit card information but won't be charged till the lender approved</span>
			</div>
			<div class="grid-block align-center">
				<span>Step 4</span>
			</div>
			<div class="grid-block align-center context-info">
				<span>Enjoy your product, your extra free time and the money you saved using rentify instead of the traditional rental.
			</div>
		</div>
	</div>
</div>

<!-- <div class="works gric-block small-12">
	<div class="grid-block small-12 align-center">
		<div class="grid-block small-6 align-center work-title">
			Lenders
		</div>
		<div class="grid-block small-6 align-center work-title">
			Renters
		</div>
	</div>
	<div class="grid-block small-12">
		<div class="grid-block small-6 work-main-text vertical">
			<div class="grid-block small-6">
				<div class="grid-block small-3">
					<span>Step 1</span>	
				</div>
			</div>
			<div class="grid-block small-6">
				<span>Search Your House to find extra stuff to rent</span>
			</div>
		</div>
		<div class="grid-block small-6">
			<div class="grid-block">
				Hello How are you>>
			</div>
		</div>
	</div>
</div> -->