<div class="works gric-block small-12">
	<div class="grid-block small-12 align-center">
		<div class="grid-block small-6 align-center work-title">
			Lenders
		</div>
		<div class="grid-block small-6 align-center work-title">
			Renters
		</div>
	</div>
	<div class="grid-block small-12">
		<div class="grid-block small-6 work-main-text vertical">
			<div class="grid-block small-6">
				<div class="grid-block small-3">
					<span>Step 1</span>	
				</div>
			</div>
			<div class="grid-block small-6">
				<span>Search Your House to find extra stuff to rent</span>
			</div>
		</div>
		<div class="grid-block small-6">
			<div class="grid-block">
				Hello How are you>>
			</div>
		</div>
	</div>
</div>